<!doctype html>
<title>Python Flask File Upload Example</title>
<h2>Select a file to upload</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>


<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <div>
        Color 1: <input type="color" id="fav-color-1" name="fav-color-1" value='#2D1421'><br/>
        Color 2: <input type="color" id="fav-color-2" name="fav-color-2" value='#FBFBFB'><br/>
        Color 3: <input type="color" id="fav-color-3" name="fav-color-3" value='#793E5F'><br/>
        Color 4: <input type="color" id="fav-color-4" name="fav-color-4" value='#51545A'><br/>
        Color 5: <input type="color" id="fav-color-5" name="fav-color-5" value='#6F7885'><br/>
        Color 6: <input type="color" id="fav-color-6" name="fav-color-6" value='#D9BECC'><br/>
    </div>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>